.button {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  height: 56px;
  transition: all var(--transition-duration) ease;
  text-align: center;
  white-space: nowrap;

  text-transform: uppercase;
  color: var(--color-light);
  border: none;
  border-radius: 10px;
  background: var(--color-accent-1);
  padding-inline: 30px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

