.callback-form {
  color: var(--color-dark-1);

  &__title {
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    margin-bottom: 48px;

    text-align: center;
    text-transform: uppercase;
    color: var(--color-light);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }

  &__field:last-of-type {
    margin-bottom: 30px;
  }

  &__label {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;

    display: block;
    margin-bottom: 5px;
    margin-left: 20px;

  }
  &__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 13px 20px;
    border: none;
    border-radius: var(--border-radius);

    background: #F5F3FF;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.10) inset;

    &::placeholder {
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      color: #BCBFC4;
    }
  }

  &__text {
    font-size: 14px;

    font-weight: 400;
    font-style: normal;
    line-height: normal;
    display: flex;

    align-items: center;
    color: #C0C0C0;

    column-gap: 10px;

    &:before {
      width: 16px;
      height: 16px;
      content: "";
      background: url("/public/img/icons/lock.svg") center center no-repeat;
    }
  }

  &__submit {
    width: 100%;
    margin-bottom: 17px;
    background: var(--color-accent-2);
  }
}
