@import "../mixins";

.steps {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(320px, 413px));
  gap: 20px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, minmax(320px, 413px));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(320px, 413px));
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;

    color: var(--color-light);
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    color: #E3E3E3;
  }

  &__item {
    position: relative;
    display: flex;

    min-height: 268px;
    padding: 40px 40px 20px 45px;
    counter-increment: steps;

    border-radius: 20px;

    &:nth-child(1) {
      @include noHoleBackground();
      @include toRightWorkflowArrow();

      @media (max-width: 768px) {
        @include toBottomWorkflowArrow();
      }
    }

    &:nth-child(2) {
      @include leftHoleBackground();
      @include toRightWorkflowArrow();

      @media (max-width: 1100px) {
        @include toBottomWorkflowArrow();
      }

      @media (max-width: 768px) {
          @include toBottomWorkflowArrow();
          @include topHoleBackground();
      }
    }

    &:nth-child(3) {
      @include leftHoleBackground();
      @include toBottomWorkflowArrow();

      @media (max-width: 1100px) {
        order: 4;
        @include topHoleBackground();
        @include toLeftWorkflowArrow();
      }

      @media (max-width: 768px) {
        order: 3;
        @include toBottomWorkflowArrow();
        @include topHoleBackground();
      }
    }


    &:nth-child(4) {
      order: 6;
      @include topHoleBackground();
      @include toLeftWorkflowArrow();

      @media (max-width: 1100px) {
        order: 3;
        @include rightHoleBackground();
        @include toBottomWorkflowArrow();
      }

      @media (max-width: 768px) {
        order: 4;
        @include toBottomWorkflowArrow();
        @include topHoleBackground();
      }
    }

    &:nth-child(5) {
      order: 5;
      @include rightHoleBackground();
      @include toLeftWorkflowArrow();

      @media (max-width: 1100px) {
        @include topHoleBackground();
        @include toRightWorkflowArrow();
      }

      @media (max-width: 768px) {
        @include toBottomWorkflowArrow();
        @include topHoleBackground();
      }
    }

    &:nth-child(6) {
      order: 4;
      @include rightHoleBackground();

      @media (max-width: 1100px) {
        order: 6;

        @media (max-width: 1100px) {
          @include leftHoleBackground();
        }

        @media (max-width: 768px) {
          order:6;
          @include topHoleBackground();
        }
      }
    }
  }


  &__wrapper {
    display: flex;
    gap: 20px;

    &::before {
      font-family: FuturaFuturisC, sans-serif;
      font-size: 36px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      content: counter(steps, decimal-leading-zero);
      color: var(--color-accent-1);
    }
  }

  &__arrow {
    fill: currentColor;
  }
}
