*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(p, h1, h2, h3, h4, h5, h6):where([class]) {
  margin: 0;
}

:where(ol, ul):where([class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(dd[class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--header-font-family);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}


body {
  font-family: var(--body-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  position: relative;

  padding-top: 124px;

  color: var(--color-dark-1);
  background-color: var(--color-light-background);
}

a {
  transition: all var(--transition-duration) ease;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

body.lock {
  overflow: hidden;
}
