:root {
  --color-dark-background: #071DA7;
  --color-dark-background-2: #070F6C;
  --color-dark-background-3: #0822B4;
  --color-light-background: #F2F2F4;
  --color-dark-1: #333333;
  --color-dark-2: #111111;
  --color-light: #FFFFFF;
  --color-accent-1: #969AF7;
  --color-accent-2: #FFA500;

  --border-radius: 10px;

  --body-font-family: Futura, sans-serif;
  --header-font-family: FuturaFuturisC, sans-serif;

  --container-width: 1280px;
  --container-padding-x: 15px;

  --transition-duration: 0.25s;
}
